<%- include('partials/header') %>


<div class="wrapper">
<h1>Welcome to the Task Manager </h1><i class="bi bi-alarm-fill"></i>

<a class="btn btn-primary btn-lg" href="/tasks">View Tasks</a>
</div>

<%- include('partials/footer') %>