<%- include('partials/header') %>



<br>
<h1>Welcome to the Task Manager </h1>
<br>
<h3>Here you can store and sort tasks based on your priorities and your timetable!</h3>
<a class="btn btn-primary btn-lg" href="/tasks">View Tasks</a>


<%- include('partials/footer') %>